<h3>
  <span class='vote-count'>
    <%= @question.vote_count %>
  </span>
  <%= @question.title %>
</h3>

<p> <%= @question.question %> </p>

<% if @errors %>
  <%= render 'shared/errors' %>
<% end %>

<%= form_for Answer.new do |f| %>
  <%= f.label :answer %>
  <%= f.text_field :body %>

  <%= f.submit 'Answer' %>
<% end %>

<h4> Answers: </h4>
<%= render @question.answers %>
